body {
    background: white;

}

* { 
  box-sizing: border-box;
  margin: 0; 
  padding: 0;

}

.toppnav {
  background: black;
  height: 80px;
  display: flex ;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.toppnav_innehall {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.toppnav_link{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.toppnav_link:hover {
  color: red;
  transition: all 0.3s ease;
}

.toppnav_punkt{
  height: 80px;
} 


.toppnav_meny{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

@media screen and (max-width: 960px){
  .toppnav_innehall{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: 1300px;
    padding: 0;

    
  }
  .toppnav_meny{
    background: #131313;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }
  .toppnav_meny.active{
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  
  }
  #toppnav_logo{
    padding-left: 25px;
  }
  .toppnav_mobil .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .toppnav_punkt{
    width: 100%;
  }
.toppnav_link{
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}

#mobil-meny{
  position: absolute;
  top: 20%;
  right: 5%;
  transition: tanslate(5%, 20%);
}
.toppnav_btn{
  padding-bottom: 2rem;
}
.knapp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0;
}

  .toppnav_mobil .bar{
    display: block;
    cursor: pointer;
  }

  #mobil_meny.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobil_meny.is-active .bar:nth-child(1) {
    transform: translate(8px) rotate(45deg);
  }

  #mobil_meny.is-active .bar:nth-child(3) {
    transform: translate(-8px) rotate(-45deg);
  }

} 

.logo {
margin-top: 30%;
width: 70%;
}

h1{
margin-left: 45%;
}
