body {
    background: red;
    width: 500px;
    height:1500px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-style: solid;
    border-color: black;
padding: 10px;
}

 h1 {
     color: rgb(4, 255, 4);
     
}

h3 {
    color:white ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p { 
    font-family:"Times New Roman", Times, serif;
    color: blue;
}
 img.hogerbild  {
     float: right;
     width: 150px;
     height: 200px;
 }

 a {
     color: black;
 }

 hr {
     border:10px solid yellow;
     border-radius: 7px;
     

 }
